body {
    width: 50%;
    text-align: center;
    margin: auto;
}

.nav {
    color: white;
    background-color: black;
}

.list {
    font-size: large;
}

.foot {
    color: white;
    background-color: black;
}

.nav-div {
}

.nav-features {
    padding: 5px;
}