body {
    width: 50%;
    text-align: center;
    margin: auto;
}

.nav {
    color: white;
    background-color: black;
    padding: 5px;
}

.list {
    font-size: large;
}

.foot {
    color: white;
    background-color: black;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-div {
}

.nav-features {
    padding: 5px;
}

.foot-features {
    padding: 5px;
}