body {
    width: 70%;
    text-align: center;
    margin: auto;
}

.nav {
    color: white;
    background-color: black;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.foot {
    color: white;
    background-color: black;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav-features {
    padding: 5px;
    display: inline-flex;
}

.nav-features button {
    background-color: white;
    border: solid black 0px;
    font-size: 15px;
    padding: 0%;
}

.foot-features {
    padding: 5px;
    display: inline-flex;
}

.foot-features button {
    background-color: white;
    border: solid black 0px;
    font-size: 15px;
    padding: 0%;
}

.main-section{
    margin-top: 20px;
    align-items: center;
}

.section-1 {
    height: auto;
    width: auto;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 1rem;
    border: solid white 2px ;
    margin: 20px;
}
